@import url('https://fonts.googleapis.com/css2?family=Poor+Story&family=Poppins&family=Signika+Negative&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: url(../xyz-zoo/img/nature-sand-texture-summer-sun-nature-background-concept_63047-1425.jpg) no-repeat fixed center;
    background-size: cover;
}

.font-poorstory {
    font-family: 'Poor Story', cursive;
}

.container {
    max-width: 990px;
    width: 100%;
    margin: 0 auto;
    padding-top: 0px;
}

#top {
    background: #6b5a357e;
    color: #fff;
    padding: 10px 10px 10px;
    /* padding-top: 50px;
    padding-right: 15px;
    padding-bottom: 10px;
    padding-left: 15px; */
    margin-bottom: 20px;
}

.banner {
    padding-left: 10px;
    padding-right: 10px;
}

.banner img {
    display: block;
    width: 100%;
}

h1 {
    color: #30220f;
    font-family: 'Poor Story', cursive;
    text-align: center;
    font-size: 50px;
}

.font-blue {
    color: #7b9ce4;
}

.kiri {
    position: relative;
}

.kanan {
    position: relative;
}

.kiri::after {
    background-image: url(../xyz-zoo/img/zoo.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    content: '';
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
}

.kiri a {
    position: relative;
    z-index: 10;
}

.kanan::after {
    background-image: url(../xyz-zoo/img/66131-1597937906.jpeg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    content: '';
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
}

.kanan a {
    position: relative;
    z-index: 10;
}

.project-card {
    height: 150px;
    width: 49%;
    overflow: hidden;
    border-radius: 10px;
    filter: drop-shadow(8px 8px 10px rgba(102, 85, 39, 0.603));
}

.kiri,
.kanan {
    width: 100%;
    height: 100%;
}

.kiri:hover::after {
    filter: none;
    transform: scale(1.5, 1.5);
    transition: all .5s ease-in;
}

.kanan:hover::after {
    filter: none;
    transform: scale(1.5, 1.5);
    transition: all .5s ease-in;
}

.project {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.project a {
    text-decoration: none;
    font-size: 40px;
    font-family: 'Signika Negative', sans-serif;
    color: #fff;
    display: block;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.295);
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.project a:hover {}

.project-card {
    overflow: hidden;
}

/* CSS ZOO */

#xyz-zoo {
    background: url(../xyz-zoo/img/4965617.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

#xyz-zoo .top {
    background: #ca7c83;
    max-width: 500px;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    border-radius: 10px;
    color: #fff;
    padding: 10px 10px 10px;
    /* padding-top: 50px;
    padding-right: 15px;
    padding-bottom: 10px;
    padding-left: 15px; */
    margin-top: 10px;
    margin-bottom: 20px;
    margin-right: auto;
    margin-left: auto;
}

.animal-list>li {
    background: #fff7fedc;
    max-width: 990px;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    border-radius: 10px;
    color: #30220f;
    padding: 10px 10px 10px;
    margin-bottom: 15px;
}

.animal-name {
    text-align: center;
}
.animal-list>li h2 {
    width: 100%;
}

.familia-list {
    margin: 15px 15px 15px 15px;
    flex-wrap: wrap;
    justify-content: space-between;
    display: flex
}

.familia-list li {
    width: 48%;
}

.familia-list img {
    display: block;
    width: 100%;
}
.animal-pic:hover{
    filter: none;
    transform: scale(1.2, 1.2);
    transition: all .5s ease-in;
}

li {
    list-style-type: none;
}

p {
    font-family: 'Poppins', sans-serif;
    line-height: 1.2;
    margin-top: 10px;
    text-align: justify;
    }

    #source {
    background: #ca7c83;
    color: #fff;
    padding: 10px 10px 10px;
}
    .text-source{
    text-align: start;
    font-weight: 900;
}
    ol{
    text-align: start;
    }

/* CSS TABLE FORM */

@media only screen and (max-width: 425px) {

    .kiri,
    .kanan {
        width: 100%;
    }

    .kiri {
        margin-bottom: 20px;
    }

    h1 {
        font-size: 14px;
    }

    .project a {
        font-size: 12px;
    }

    .familia-list li {
        width: 100%;
    }

    .animal-list li {
        width: 100%;
    }
}
@media only screen and (max-width: 990px) {
    .container {
        padding: 0 10px;
    }
    .img {
        max-height: 20px;
    }
}