@import url('https://fonts.googleapis.com/css2?family=Kolker+Brush&family=Poor+Story&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;    
}

.font-poorstory {
    font-family: 'Poor Story', cursive;
}

.container {
    max-width: 990px;
    width: 100%;
    margin: 0 auto;

}
.banner {    
    padding-left: 10px;
    padding-right: 10px;
}
.banner img {
    display: block;
    width: 100%;
}
h1 {
    color: #30220f;
    font-family: 'Poor Story', cursive;
    text-align: center;
}
.font-blue {
    color: #7b9ce4;
}
.kiri {
    /* background: url(../xyz-zoo/img/owl.jpg) center center no-repeat; */
    background-image: url(../xyz-zoo/img/zoo.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    filter: drop-shadow(8px 8px 10px gray);
}
.kanan {
    background-image: url(../xyz-zoo/img/zoo.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    filter: drop-shadow(8px 8px 10px gray);
}
.kiri, .kanan {
    height: 150px;
    width: 49%;    
    overflow: hidden;
}
.kiri:hover {
    filter: none;
    background-image: url(../xyz-zoo/img/zoo.jpg);
    transform: scaleY(2);
    transition: all .3s ease-in;
}
.kanan:hover {
    filter: none;
    background-image: url(../xyz-zoo/img/zoo.jpg);
    transform: scaleY(2);
    transition: all .3s ease-in;
}
.project {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.project a {
    text-decoration: none;
    font-size: 48px;
    font-family: 'Kolker Brush', cursive;
    color: #fff;
    display: block;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.295);    
    filter: drop-shadow(8px 8px 10px gray);
    display: flex;
    justify-content: center;
    align-items: center;
}
.project a:hover {
    filter: none;
    background: none;
    transform: scaleY(2);
    transition: all .3s ease-in;
}

@media only screen and (max-width: 425px) {
    .kiri, .kanan {
        width: 100%;
    }
    .kiri {
        margin-bottom: 20px;
    }
}

@media only screen and (max-width: 990px) {
    .container {
        padding: 0 10px;   
    }
}