* {
    box-sizing: border-box;
}
#table-all {
    background-color: rgb(118, 90, 161);
}
.content {
    line-height: 0.3;
}
.table {
    background: rgb(255, 255, 255);
    max-width: 990px;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    border-radius: 10px;
    color: #30220f;
    padding: 1px 20px 50px 20px;
    margin-bottom: 15px;
    margin-left: auto;
    margin-right: auto;
}
.form {
    background: rgb(255, 255, 255);
    max-width: 990px;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    border-radius: 10px;
    color: #30220f;
    padding: 1px 20px 20px 20px;
    margin-bottom: 15px;
    margin-left: auto;
    margin-right: auto;
    line-height: 1.1;
}
.table-auto {
    overflow-x: auto;
}
th {
    background-color: #4e327c;
    color: white
}
input {
    background-color: #a685db98;
}
option {
    background-color: #a685db98;
}
#question {
    background-color: #553d8098;
}
@media only screen and (max-width: 900px) {

}

@media only screen and (max-width: 768px) {
    
}

@media only screen and (max-width: 425px) {

}